pkgbase = python-requests
	pkgdesc = Python HTTP for Humans
	pkgver = 2.32.2
	pkgrel = 1
	url = https://requests.readthedocs.io/
	arch = any
	license = Apache-2.0
	checkdepends = python-pysocks
	checkdepends = python-pytest-httpbin
	checkdepends = python-trustme
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = ca-certificates
	depends = python-charset-normalizer
	depends = python-idna
	depends = python-urllib3
	optdepends = python-chardet: alternative character encoding library
	optdepends = python-pysocks: SOCKS proxy support
	source = git+https://github.com/psf/requests.git#tag=v2.32.2
	source = certs.patch
	validpgpkeys = 87227E29AD9CFF5CFAC3EA6A44D3FF97B80DC864
	b2sums = 3ba8fea3164b772e8ec01b4fb01bd8a64525925993018582c356b48e4f2cf25ced38388f1edc71dcc4df0393799da7f6063e5461c2ffab417510cbe84ebcfe51
	b2sums = 30fc6f283f2416318a1011bffab1ee23b0551188704eeacac77b28f5709f42fc33755a14a2eeb3ba2dccb2904a97a87021cff1423fe9149c78f2b9560998308d

pkgname = python-requests
